<div class='container mt-3 mb-5'>
   <h1 class='text-center mb-5'>掲示板一覧</h1>

   <div class='coll-md-6 mx-auto mb5'>
      <p>投稿一覧です。</p>
   </div>

   <div class='col-md-6 mx-auto mb-5'>
      <div class='mb-3'> 
         <div class='form-label border-start border-primary border-4 ps-1'>
         <%= t('activerecord.attributes.post.name')%> <%# ja.ymlから呼び出すようにするとja.yml側で日本語辞書を直すだけで良い %>
      </div>
   </div>
</div>