<div class='container mt-3 mb-5'>
   <div class="d-flex justify-content-between align-items-center mb-5">
      <h1 class="mb-0">掲示板編集</h1>
      <%= link_to "一覧", all_posts_path, class: "btn btn-outline-secondary" %>
      <!-- サインイン,サインアウトへ -->
      <% if logged_in? %>
         <%= link_to "サインアウト", logout_path, data: { turbo_method: :delete }, class: "btn btn-outline-danger" %>
      <% else %>
         <%= link_to "サインイン", login_path, class: "btn btn-outline-secondary" %>
      <% end %>
   </div>

   <%= render 'form', post: @post %>
</div>
